
<div class="productos">

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                    <th>Agregar producto</th>
                </tr>
            </thead>
            <tbody id="productos--tbody">
            </tbody>
        </table>

</div>