<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/navBar.css">
    <link rel="stylesheet" href="../styles/formulario.css">
    <link rel="stylesheet" href="../styles/productos.css">
    <link rel="stylesheet" href="../styles/normalize.css">
</head>
<body>
    <%- include( './partials/navBar' ) %>
    <div class="productos">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                    <th>Cantidad</th>
                    <th>Agregar producto</th>
                </tr>
            </thead>
            <tbody id="productos--tbody">
                <% console.log("arrayProdData",arrayProdData) %>
            </tbody>
        </table>
    </div>

    <script src="../scripts/publicScript.js"></script>
    <script>
        const arrayProdData = JSON.parse(`<%- JSON.stringify(arrayProdData) %>`)
        console.log(arrayProdData)
        renderProductos(arrayProdData)
    </script>
</body>
</html>