<div class="megalateral">
  <div class="imagen-pegajosa">
    <img
      width="250"
      height="450"
      class="puede-darme-dinero"
      src="/images/banners/juancarlosbannerfinal.JPG"
    />
    *esta imagen esta toda pegajosa*
  </div>
</div>
