.megalateral {
  display: none;
  width: 25rem;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 4rem,
    rgba(0, 0, 0, 0.15) 6rem
  );
  height: 100%;
  min-height: calc(100vh - 18rem);
}
@media (min-width: 100rem) {
  .megalateral {
    display: block;
    position: relative;
    /* position: sticky; */
    color: #00000000;
  }
  .imagen-pegajosa {
    position: sticky;
    top: 11.36rem;
  }
}

.puede-darme-dinero {
  filter: saturate(0.8);
}
