.card {
  box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1),
    0 8rem 10rem -6rem rgba(0, 0, 0, 0.1);
  /* width: 24.0rem; */
  /* margin: 1.6rem; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  transition: 0.25s;
}
.card:hover {
  opacity: 85%;
}
.card > figure {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.card > figure > a {
  width: 100%;
}
.card > figure .card-img {
  height: 13rem;
  object-fit: contain;
  width: 100%;
  display: block;
  filter: drop-shadow(0.2rem 0.4rem 0.8rem gray);
  z-index: 1;
  position: relative;
}
.card > figure .background-blur {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(0.8rem);
  top: 0;
}
.card .card-body {
  background-color: white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem;
}
.card .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;

  display: -webkit-box;
  max-width: 20rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card .card-description {
  display: -webkit-box;
  max-width: 20rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3rem;

  margin-bottom: 1rem;
  height: 5rem;
}
.card-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card-amount-text {
  color: rgb(164, 164, 164);
}

.card-amount-number {
  width: 3.5rem;
  text-align: center;
  border: none;
}
.card-amount-number:focus {
  border: none;
  outline: none;
}

.card-amount-number::-webkit-inner-spin-button {
  opacity: 1;
  background-color: red;
  color: red;
}

.card .card-actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-end;
  gap: 0.8rem;
  width: 100%;
  gap: 0.8rem;
}

.card-actions .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  width: fit-content;
  padding: 0.8rem;
  border: 0.1rem solid rgb(164, 164, 164);
  color: rgb(106, 106, 106);
  border-radius: 0.3rem;
  transition: 0.25s;
}

.card-actions .badge.badge-category:hover {
  border: 0.1rem solid (0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.card-actions .badge.badge-comprar {
  background-color: hsl(229.09 95.652% 63.922%);
  border-color: hsl(229.09 95.652% 63.922%);
  color: hsl(229.09 100% 92.784%);
  padding: 1.6rem;
  font-weight: 600;
  transition: 0.25s;
  width: 100%;
}
.card-actions .badge.badge-comprar:hover {
  background-color: hsl(229, 89%, 53%);
  border-color: hsl(229, 89%, 53%);
  cursor: pointer;
}
