.content-main{
    display: flex;
    flex-direction: row-reverse;
    max-width: 83rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: hsl(0 0% 100%/1) */
}

.sidebar__aside{
    flex-grow: 0;
}

.sidebar__main{
    flex-grow: 1;
}