.content-main {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - 9.2rem)
}

.sidebar__aside {
  flex-grow: 0;
}

.sidebar__main {
  flex-grow: 1;
}

.chat__admin {
  position: fixed;
  bottom: 33px;
  right: 2rem;
  padding: 1rem;
  background-color: #25d366;
  color: white;
  border-radius: 1rem;
  transition: 0.25s;
  font-size: 1.5rem;
  z-index: 100;
}

@media (min-width: 100rem) {
  .chat__admin {
    right: 27rem;
  }
}

.chat__admin:hover {
  background-color: #0fe25d;
}

.chat__admin > span {
  font-weight: 500;
}
