header button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

header img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

header {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9.2rem;
  padding: 0 2rem;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #000000;
  /* box-shadow: 0 0.3rem 0.9rem 0.2rem rgb(0 0 0 / 25%); */
  border-bottom: 1px solid #e4e4e4;
  z-index: 100;
}

.headderPlaceholder {
  margin-top: 9.2rem;
}

header > div:first-child {
  display: flex;
  align-items: center;
}

header > div:first-child > p {
  padding-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

header > div:first-child > p > b {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

header > div:nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header > div:nth-child(2) > svg {
  padding-left: 0.6rem;
  height: 0.6rem;
  width: 1.7rem;
}

@media (min-width: 33rem) {
  header {
    gap: 5.6rem;
    font-size: 2rem;
  }

  header img {
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  header > div:first-child > p {
    padding-left: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  header > div:first-child > p > b {
    font-size: 2.4rem;
    line-height: 2.3rem;
  }
}

header > div:last-child {
  margin-left: 4.8rem;
}

.position {
  position: relative;
}

.position__checkbox {
  display: none;
}

.position__button {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.position__button:hover {
  cursor: pointer;
}

.position__button > {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.position__menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 12.8rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  top: 4rem;
  transition: max-height 0.1s linear 0s;
}

.position__checkbox:checked ~ .position__menu {
  max-height: calc(6 * 3.3rem);
  box-shadow: 0 0.3rem 0.9rem 0.2rem rgba(0, 0, 0, 0.25);
  transition: max-height 0.1s linear 0s;
}

.position__button > svg {
  transition: transform 0.2s linear 0s;
}

.position__checkbox:checked ~ .position__button > svg {
  transform: rotate(180deg);
  transition: transform 0.2s linear 0s;
}

.position__menu > li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
  background: #ffffff;
  border-top: 0.16rem solid #e6e6e6;
}

.position__menu > li a {
  display: block;
  width: 90%;
  height: 100%;
  padding: 0.8rem 0;
}

.position__menu a:hover {
  background: #4b6bfb;
  color: #dae1ff;
  cursor: pointer;
}

.position__menu > li a span {
  padding: 0 0.8rem;
}

.position__menu > li:first-child {
  border-top: none;
}

.position__menu > li:hover,
.position__menu > li a:hover {
  background: #4b6bfb;
  color: #dae1ff;
}

.logout {
  padding: 0.4rem 1.6rem;
  background-color: hsl(229.09 95.652% 63.922%);
  border-radius: 0.4rem;
  color: hsl(229.09 100% 92.784%);
  transition: 0.25s;
}
.logout:hover {
  background-color: hsl(229, 89%, 53%);
}
