header button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

header img {
width: 70px;
height: 70px;
border-radius: 5px;
}

header{
    display: flex;
    gap: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 112px;
    padding: 30px 48px;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.headderPlaceholder{
    margin-top: 114px;
}

header>div:first-child{
    display: flex;
    align-items: center;
}

header>div:first-child>p{
    padding-left: 15px;
    font-size: 16px;
    line-height: 15px;
}

header>div:first-child>p>b{
    font-weight: 700;
    font-size: 24px;
    line-height: 13px;
}

header>div:nth-child(2){
    margin-left: auto;
    display: flex;
    align-items: center;
}

header>div:nth-child(2)>svg{
    padding-left: 6px;
    height: 6px;
    width: 17px;
}

header>div:last-child{
    margin-left: 48px;
}

.position{
    position: relative;
}

.position__checkbox{
    display: none;
}

.position__button{
    display: flex;
    align-items: center;
    gap: 7px;
}

.position__button:hover{
    cursor: pointer;
}

.position__button>{
    display: flex;
    align-items: center;
    gap: 8px;
}

.position__menu{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: 128px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    top: 40px;
    transition: max-height 0.1s linear 0s;
}

.position__checkbox:checked ~ .position__menu{
    max-height: calc(4*33px);
    box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.25);
    transition: max-height 0.1s linear 0s;
}

.position__button>svg{
    transition: transform 0.2s linear 0s;
}

.position__checkbox:checked ~ .position__button>svg{
    transform: rotate(180deg);
    transition: transform 0.2s linear 0s;
}

.position__menu>li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    background: #FFFFFF;
    border-top: 1.6px solid #E6E6E6;
}

.position__menu>li a{
    display: block;
    width: 90%;
    height: 100%;
    padding: 8px 0;
}

.position__menu a:hover{
    background: #FFF6E6;
    color: #FFA500;
    cursor: pointer;
}

.position__menu>li a span{
    padding: 0 8px;
}

.position__menu>li:first-child{
    border-top: none;
}

.position__menu>li:hover, .position__menu>li a:hover{
    background: #FFF6E6;
    color: #FFA500;
}

.logout{
    padding: 4px 16px;
    background-color: hsl(229.09 95.652% 63.922%);
    border-radius: 4px;
    color: hsl(229.09 100% 92.784%);
    transition: 0.25s;
}
.logout:hover{
    background-color: hsl(229, 89%, 53%);
}